html,
body,
#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  min-width: 970px;
  z-index: 100;
  background: rgba(255, 255, 255, .97);
  border-bottom: 1px solid #ddd;
}

.logo {
  display: inline-block;
  margin: 3px 0;
  font-size: 28px;
  color: #34AA78;
}




.search-bar {
  display: inline-block;
  margin: 8px 0 0 89px;
  vertical-align: top;
}
.search-input {
  width: 450px;
/*  height: 30px;*/
}




.side-bar {
  position: fixed;
  top: 40px;
  height: 100%;
  width: 250px;
  z-index: 100;
  background: rgba(255, 255, 255, .65);  
}

.side-bar-title {
  margin: 0;
  padding: 10px 10px;
  font-size: 20px;
  background: rgba(255, 255, 255, .7);
  border-bottom: 1px solid #eee;
}

.place-listings {
  height: 100%;
  overflow-y: auto;
  color: #444;
}

.place-listing {
  padding: 5px 15px 5px 10px;
}

.place-listing:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, .8);  
}

.place-title {
  margin: 0;
  font-size: 18px;
}

.place-data {
  margin: 0;
}





