/*

Toolbars have a standard height, 56 dp on mobile and 64 dp on desktop, 
but they can be taller. When taller, 
the actions can be pinned to either the top or the bottom of the toolbar.

*/



/*------------------------------------*\
        #GENERAL-STYLES
\*------------------------------------*/

html,
body,
#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
.header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  min-width: 970px;
  z-index: 130;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.logo {
  display: inline-block;
  width: 250px;
  margin: 8px 50px 0 50px;
  font-size: 28px;
  color: #333;
}





/*------------------------------------*\
        #SEARCHBAR-STYLES
\*------------------------------------*/

.search-bar {
  display: inline-block;
  margin: 8px 0 0 5px;
  vertical-align: top;
  color: #777;
}
.search-input {
  width: 450px;
/*  height: 30px;*/
  border: none;
  border-bottom: 2px solid #ccc;
  text-decoration: none;
  outline: none;
  
}

.btn-search {
  border: none;
  outline: none;
  background: #fff;
  padding: 5px;
  font-size: 16px;
}



/*------------------------------------*\
        #MENU-TOGGLE
\*------------------------------------*/

.menu-toggle {
  position: absolute;
  top: 25px;
  left: 10px;
  height: 45px;
  width: 45px;
/*  padding: 1px 10px;*/
  background: rgba(255,255,255, 1);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border-radius: 50%;
  z-index: 200;
  font-size: 20px;
  cursor: pointer;
  -moz-transition: all .6s cubic-bezier(.53, .15, .53, .97);
  -webkit-transition: all .6s cubic-bezier(.53, .15, .53, .97);
  transition: all .6s cubic-bezier(.53, .15, .53, .97);
}

.toggle {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: 0 -3px 5px 0 rgba(0,0,0,.2);
  left: 270px;
}

.fa-chevron-down {
  margin: 12px auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}



/*------------------------------------*\
        #SIDEBAR-STYLES
\*------------------------------------*/

.side-bar-header {
  z-index: 120;
  position: fixed;
  top: -1000px;
  left: 0;
  height: 43px;
  width: 330px;
  -moz-transition: all .6s cubic-bezier(.53, .15, .53, .97);
  -webkit-transition: all .6s cubic-bezier(.53, .15, .53, .97);
  transition: all .6s cubic-bezier(.53, .15, .53, .97);
}

.sbh-active {
  top: 50px;
}

.side-bar {
  z-index: 100;
  position: fixed;
  top: -1000px;
  left: 0;
  height: 85%;
  width: 330px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  -moz-transition: all .6s cubic-bezier(.53, .15, .53, .97);
  -webkit-transition: all .6s cubic-bezier(.53, .15, .53, .97);
  transition: all .6s cubic-bezier(.53, .15, .53, .97);
}

.side-bar-active {
  top: 103px;
}

.info-bar-title,
.side-bar-title {
  margin: 0;
  padding: 15px 10px;
  font-size: 22px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.info-bar-title {
  font-size: 20px
}



/*------------------------------------*\
        #INFOBAR-STYLES
\*------------------------------------*/

.info-bar {
  position: fixed;
  top: -1000px;
  left: 0;
  height: 100%;
  width: 330px;
  background: rgba(255, 255, 255, .95); 
  z-index: 110;
  -moz-transition: all .6s cubic-bezier(.53, .15, .53, .97);
  -webkit-transition: all .6s cubic-bezier(.53, .15, .53, .97);
  transition: all .6s cubic-bezier(.53, .15, .53, .97);
}

.info-bar-active {
  top: 99px;
}

.place-info {
  padding: 20px;
}






/*------------------------------------*\
        #PLACE-LISTING-STYLES
\*------------------------------------*/


.place-listings {
  height: 100%;
  overflow-y: auto;
  color: #444;
}

.place-listing {
  padding: 10px 15px 10px 10px;
  background: #fff;
  border-radius: 2px;
  border-bottom: 1px solid #eee;
}

.place-listing:hover {
  cursor: pointer;
/*  background: #f8f8f8; */
}

.place-title,
.place-link {
  display: inline-block;
}

.place-title,
.place-address,
.place-phone,
.place-type {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}
.place-title {
  margin: 0;
  width: 80%;
  font-size: 18px;
}

.place-link {
  text-decoration: underline;
  float: right;
}

.place-address {
  font-size: 12px;
}

.place-data {
  margin: 0;
}

.place-phone,
.place-type {
  display: inline-block;
  width: 45%;
}









